/* Base Mobile First */
body {
    background-color: #f8f9fa;
    color: #333;
}

.carousel-item img {
    height: 350px;
    object-fit: cover;
}

/* Accesibilidad: Foco visible */
a:focus, button:focus, input:focus {
    outline: 3px solid #ffc107 !important;
}

/* Escritorio */
@media (min-width: 992px) {
    .carousel-item img {
        height: 500px;
    }
}